.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 70px 0;
  padding: 70px 0 40px;
}

.search__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 40px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search__input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}

.search__input:focus {
  width: 90%;
  outline: 1px solid black;
  border-radius: 50px;
}

.search__input::placeholder {
  color: #a0a0a0;
}

.search__button {
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #3456f3;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  transition: opacity 0.2s linear;
}

.search__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search__toggle {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
}

.search__films {
  margin: 0 0 0 12px;
  padding-right: 14px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.search__tumbler {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 14px;
  filter: drop-shadow(0 2px 2px #e5e5e8);
  transition: opacity 0.2s linear;
}

.search__tumbler:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search__checkbox {
  display: none;
}

.search__slider {
  position: absolute;
  inset: 0;
  background-color: #2be080;
  border-radius: 16px;
  transition: 0.6s;
  transform: scale(-1, -1);
}

.search__slider::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
}

.search__checkbox:checked + .search__slider::before {
  transform: translateX(22px);
}

@media screen and (max-width: 800px) {
  .search {
    flex-direction: column;
    margin: 0 30px 0;
    padding: 55px 0 17px;
  }

  .search__container {
    width: 98%;
    padding: 6px;
    margin: 0 0 37px;
  }

  .search__input {
    padding: 0 11px;
  }

  .search__toggle {
    margin: 0 0 39px;
  }

  .search__films {
    margin: 0;
  }
}

@media screen and (max-width: 540px) {
  .search {
    margin: 0 15px 0;
  }

  .search__container {
    margin: 0 0 44px;
  }

  .search__input {
    padding: 0 8px;
    font-size: 11px;
  }

  .search__toggle {
    margin: 0 0 26px;
    justify-content: center;
  }

  .search__films {
    font-size: 11px;
  }
}
